<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} ? {% endblock %} - Awesome Python WebApp</title>
    <link rel="stylesheet" href="/www/static/css/uikit.min.css">
    <link rel="stylesheet" href="/www/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/www/static/css/awesome.css">
    <script src="/www/static/js/jquery.min.js"></script>
    <script src="/www/static/js/sha1.min.js"></script>
    <script src="/www/static/js/uikit.min.js"></script>
    <script src="/www/static/js/sticky.min.js"></script>
    <script src="/www/static/js/vue.min.js"></script>
    <script src="/www/static/js/awesome.js"></script>
    {% block beforehead %}<!-- before head --> (% endblock %}

</head>
<body>
<nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
    <div class="uk-container uk-container-center">
        <a href="/" class="uk-navbar-brand">Awesome</a>
        <ul class="uk-navbar-nav">
            <li data-url="blogs">
                <a href="/"><i class="uk-icon-home"></i>日志</a>
            </li>

        </ul>

    </div>

</nav>

</body>
</html>